.search_header
  .header-wrapper
    .search-form-section
      = form_with url: search_path, local: true, class: "search-form" do |f|
        .search-form__box
          .search-form__box__select-group
            = f.select :work_type, [["シリーズ", "series"], ["単体", "single"]], {}, { class: "search-form__box__select-group--work_type" }
          .search-form__box__text-field-group
            = f.text_field :keyword, placeholder: "作品を検索する", class: "search-form__box__text-field-group--keyword"
            = search_icon
          .search-form__box__submit-group
            = f.button "", class: "search-form__box__submit-group--hidden-submit-button"
    - if @keyword
      .search-result
        %h2.search-result--title= @keyword
        %h4.search-result--count= "#{@count}作品見つかりました"