.small-header
  .l-header-wrapper
    %nav.small-header-navigation
      %ul.small-left-list
        - url = @keyword ? home_top_path(keyword: @keyword) : home_top_path
        = link_to url do
          %li{class: "small-left-list__item .small-left-list__item__top #{current(action: "top")}"}
            TOP
        - url = @keyword ? home_novels_path(keyword: @keyword) : home_novels_path
        = link_to url do
          %li{class: "small-left-list__item .small-left-list__item__novels #{current(action: "novels")}"}
            小説
        - url = @keyword ? home_illustrations_path(keyword: @keyword) : home_illustrations_path
        = link_to url do
          %li{class: "small-left-list__item .small-left-list__item__illustrations #{current(action: "illustrations")}"}
            イラスト
        - url = @keyword ? home_comics_path(keyword: @keyword) : home_comics_path
        = link_to url do
          %li{class: "small-left-list__item .small-left-list__item__comics #{current(action: "comics")}"}
            漫画
      %ul.small-right-list
        = link_to users_path do
          %li.small-right-list__item
            ユーザー一覧