- if @comic.series_episode?
  .work-info-box
    .work-info-box__work-series
      .work-info-box__work-series--title
        = @comic.decorate.work_series_for_display
    .work-info-box__user
      %p
        作者:&nbsp;
        = link_to @comic.user.nickname, @comic.user
  .work-episode-number
    %p= @comic.decorate.episode_number_for_display
.work-information
  .work-title-box
    %h2.work-title-box__title
      = @comic.title
  - if @comic.short_story?
    .clearfix
      .work-user-box
        = link_to @comic.user do
          .work-user-box__label
            = @comic.user.decorate.icon_for_display(36)
          .work-user-box__user
            = @comic.user.nickname
    .work-outline-box
      %p.work-outline-box__outline
        = @comic.outline
    = render 'works/detail', work: @comic
.work-main-content-container
  .comic-images-area
    - @comic.decorate.images_for_display(width: 600)
  .work-bottom-area
    - if @comic.author_comment.present?
      .work-after-comment-area
        %p.work-after-comment-area__after-comment= @comic.author_comment
    - if @comic.series_episode?
      .work-episode-link-box
        .work-episode-link-box__episode-link
          = @comic.decorate.next_and_prev_episode_link
        .work-episode-link-box__toc-link
          = link_to "目次", @comic.comic_series, class: "work-episode-link-box__toc-link"