%h1= @meta_name
= render 'series_list', series: @comic_series

.list.m-toggle-single-list.m-hidden.m-back--white.m-border-all-1
  .list-title-box.m-border-bottom-3
    %h3.m-toggle-list-button.m-toggle-series-list-button= t("#{@work_type}_series".classify)
    %h3.m-toggle-list-button.m-toggle-single-list-button.is-current= t(@work_type.classify)
  - if @comics.present?
    .comic-list-box
      = render partial: 'comics/short_story', collection: @comics, as: 'comic'
  - else
    = not_search_result
  .comics-list-link-box
    = single_list_link(@comics)