- work_type_name = work.class.name.underscore
.work-list__item
  .work-simple-type-box
    .work-simple-type-box__type.m-tag{class: "#{work.decorate.is_series? ? 'm-tag--red' : 'm-tag--blue' }"}
      = work.decorate.type_for_display(link: false, simple: true)
  .work-title-box
    = link_to work.title, eval("manage_#{work_type_name}_path(work)")
  .work-operation-box
    .work-operation-box__edit
      = link_to eval("edit_manage_#{work_type_name}_path(work)") do
        .operation-button.btn.btn-gray
          = icon('fas', 'pen-fancy', class: "m-font-awesome-pen-fancy")
    - if params[:action].match?(/draft/)
      .work-operation-box__post
        = link_to eval("post_manage_#{work_type_name}_path(work)") do
          .operation-button.btn.btn-primary
            = icon('fas', 'share', class: "m-font-awesome-share")
    .work-operation-box__delete
      = link_to eval("manage_#{work_type_name}_path(work)"), method: :delete, data: {confirm: "本当に削除しますか？"} do
        .operation-button.btn.btn-red
          = icon('fas', 'times', class: "m-font-awesome-times")