!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CreatersSample
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: "#{current_contents} #{body_class}"}
    - case current_contents
    - when "main_contents"
      = render 'layouts/main_contents'
    - when "read_contents"
      = render 'layouts/read_contents'
    - if File.exist?(Rails.root.join('app', 'javascript', 'packs', "#{javascript_path}").to_s)
      = javascript_pack_tag javascript_path, 'data-turbolinks-track': 'reload'
