!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CreatersSample
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: "#{params[:controller]&.gsub('/', ' ')} #{params[:action]}"}
    = render 'shared/headers/main_header'
    = render 'shared/headers/search_header'
    = render 'shared/headers/small_header' if current_controller?('home')
    %main
      = yield
    %footer
      = render 'shared/footer'
